# DIRECTORY CUSTOMIZATION
	AddType text/html .php
#	HeaderName /organizedPhotos/header.php
#	AddHandler application/x-httpd-php .php

<IfModule mod_autoindex.c>

	# ENABLE DIRECTORY VIEWS
	Options +Indexes
	
	# SET INDEX OPTIONS
	IndexOptions +IgnoreCase +FancyIndexing +FoldersFirst +NameWidth=* +DescriptionWidth=* +SuppressHTMLPreamble
	
	# SET DISPLAY ORDER
	IndexOrderDefault Ascending Name

	# SPECIFY HEADER FILE
	HeaderName /header.php
 
	# SPECIFY FOOTER FILE
	ReadmeName /footer.php

	# IGNORE THESE FILES
	IndexIgnore header*.php footer.php getEXIF.php photoDecision.php photoDecision2.php hori_large.png vert_large.png jaxMe.js test scrollable-buttons.css scrollable-horizontal.css *.sh *.NEF *.gif ~UNorganized folderTemplates includes import.sql makeGIFfromJPGMaster.sh.lockfile makeGIFfromJPG.sh.lockfile importNewPhotosToMySQL.sql

	# IGNORE THESE FILES
	IndexIgnore header.html footer.html favicon.ico .htaccess .ftpquota .DS_Store icons *.log *,v *,t .??* *~ *#

</IfModule>

# Block people from accessing .sh files
<Files "*.sh">
  Deny from all
  #AuthUserFile /home/username/domain.com/organizedPhotos/.htpasswd
  #AuthName "LULZ Copter"
  #AuthType Basic
  #require valid-user
</Files>
